@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --purple: #8a35c8;
    --darkpurple: #28103a;
    --lightgreen: #a4ffe2;
    --green: #00eea2;
    --darkgreen: #084632;

    --Montserrat: 'Montserrat', sans-serif;;
    --handwrite: 'Marck Script', cursive;
    --orbitron: 'Orbitron', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--Montserrat);
}

 html, body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: var(--green);
}

body header {
    position: relative;
    align-items: center;
    width: 100%;
    color: #00eea2;
}

body header h1 {
    height: 60px;
    background-image: linear-gradient(to top, #8a35c8, black, black, black, #8a35c8);
    display: block;
    padding-top: 20px;
    font-family: var(--orbitron);
    font-weight: normal;
    text-align: center;
}

body header div#burger {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--green);
    color: var(--green);
}

body header div#burger:hover {
    background-color: var(--green);
    color: var(--darkgreen);
    transition: 0.3s;
    cursor: pointer;
}

body header div p.menu {
    text-indent: 5px;
}

body header div span {
    display: block;
    padding: 5px;
    margin-left: 5px
}

body header menu {
    width: 100%;
    display: none;
}

body header menu nav {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--green);
}

body header menu nav a {
    display: block;
    margin: 3px 40% 0px 10px;
    padding: 8px 15px;
    text-decoration: none;
    font-family: var(--orbitron);
    font-weight: bold;
    background-color: var(--green);
    color: var(--purple);
    border: 1px solid var(--darkgreen);
    border-radius: 5px;
}

body header menu nav a.selected {
    background-color: var(--darkgreen);
    color: var(--green);
    box-shadow: 2px 2px 7px var(--green);
    transform: translate(-3px, -3px);
    transition: 0.3s;
}

body header menu nav a:hover {
    background-color: var(--darkgreen);
    color: var(--green);
    box-shadow: 2px 2px 7px var(--green);
    transform: translate(-3px, -3px);
    transition: 0.3s;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

body main div#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    height: 100%;
    width: 100%;
    margin: 0px 20px;
    min-width: 200px;
    max-width: 800px;
    border: 1px solid var(--purple);
    box-shadow: 0px 5px 10px var(--purple), 0px 5px 10px var(--purple);
    border-radius: 0px 0px 10px 10px;
    text-align: justify;
}

body main div p.icon1 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: -40px;
}

body main div img {
    padding: 5px;
    width: 60px;
    height: 60px;
    margin-top: 40px;

}

body main div p.subtitle {
    margin-top: 10px;
    font-family: var(--orbitron);
    font-weight: bold;
    text-indent: 0px;
}

body main div p {
    text-indent: 1em;
}

body main div p a {
    text-decoration-thickness: 2px;
    font-style: italic;
    color: var(--green);
}