@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --purple: #8a35c8;
    --darkpurple: #28103a;
    --lightgreen: #a4ffe2;
    --green: #00eea2;
    --darkgreen: #084632;

    --Montserrat: 'Montserrat', sans-serif;;
    --handwrite: 'Marck Script', cursive;
    --orbitron: 'Orbitron', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--Montserrat);
}

 html, body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    color: var(--green);
}

body header {
    position: relative;
    align-items: center;
    width: 100%;
    color: #00eea2;
}

body header h1 {
    height: 60px;
    background-image: linear-gradient(to top, #8a35c8, black, black, black, #8a35c8);
    display: block;
    padding-top: 20px;
    font-family: var(--orbitron);
    font-weight: normal;
    text-align: center;
}

body header div#burger {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--green);
    color: var(--green);
}

body header div#burger:hover {
    background-color: var(--green);
    color: var(--darkgreen);
    transition: 0.3s;
    cursor: pointer;
}

body header div p.menu {
    text-indent: 5px;
}

body header div span {
    display: block;
    padding: 5px;
    margin-left: 5px
}

body header menu {
    width: 100%;
    display: none;
}

body header menu nav {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--green);
}

body header menu nav a {
    display: block;
    margin: 3px 40% 0px 10px;
    padding: 8px 15px;
    text-decoration: none;
    font-family: var(--orbitron);
    font-weight: bold;
    background-color: var(--green);
    color: var(--purple);
    border: 1px solid var(--darkgreen);
    border-radius: 5px;
}

body header menu nav a.active {
    background-color: var(--darkgreen);
    color: var(--green);
    box-shadow: 2px 2px 7px var(--green);
    transform: translate(-3px, -3px);
    transition: 0.3s;
}

body header menu nav a:hover {
    background-color: var(--darkgreen);
    color: var(--green);
    box-shadow: 2px 2px 7px var(--green);
    transform: translate(-3px, -3px);
    transition: 0.3s;
    text-decoration: underline;
}

main {
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 6.5rem;
}

section div#contentBox {
    min-width: 325px;
    max-width: 80vw;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--purple);
    border-top: none;
    background-color: rgba(0, 0, 0, 0.498);
    box-shadow: 0px 1px 10px var(--purple), 0px 1px 10px var(--purple);
}

h1.name {
    font-family: var(--handwrite);
    font-size: 2.5em;
    font-weight: normal;
    padding: 5px;
    margin: 20px 0px;
    text-indent: 10px;
}

div p {
    text-indent: 30px;
    text-align: justify;
    line-height: 25px;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: var(--darkgreen);
    float: bottom;
    height: 6.5rem;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--green);
}

footer div {
    padding: 5px;
}

footer p{
    padding: 5px;
}

footer div a img.icon {
    margin: 0px 15px;
    height: 50px;
}